body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  text-align: center;
  overflow-x: hidden;
}

.screen {
  display: none;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.screen.active {
  display: flex;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.buttons button {
  width: 80%;
  max-width: 250px;
  padding: 12px;
  margin: 8px;
  font-size: 1rem;
  border-radius: 12px;
}


.us-pic {
  width: 70%;
  max-width: 250px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: gray;
  color: white;
  position: relative;
}

.gifts {
  display: flex;
  gap: 20px;
}

.gift {
  padding: 20px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.7);
  top: 0; left: 0;
  width: 100%; height: 100%;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(241, 233, 233);
  padding: 20px;
  border-radius: 15px;
  max-width: 50%;
}

.calendar table {
  border-collapse: collapse;
  width: 100%;
}

.calendar td {
  padding: 8px;
  border: 1px solid #ddd;
}

.highlight {
  background: pink;
  font-weight: bold;
}

/* HEART CURSOR */
.heart {
  position: fixed;
  color: red;
  pointer-events: none;
  animation: float 1s linear forwards;
}

@keyframes float {
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
}

.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.card p {
  padding: 8px;
  margin: 0;
  font-weight: bold;
  font-size: 0.9rem;
  color: #444;
}
